/* TareasListadas.css */

/* Estilos para el contenedor de la lista */
.ion-padding {
  padding: 20px; /* Ajusta el espacio de relleno según sea necesario */
}

/* Estilos para las tarjetas */
ion-card {
  margin-bottom: 20px; /* Espacio entre tarjetas */
}

/* Estilos para las imágenes en las miniaturas */
ion-thumbnail img {
  width: 80px; /* Ancho de la imagen */
  height: 80px; /* Altura de la imagen */
  border-radius: 50%; /* Para hacer que la imagen tenga forma de círculo */
  object-fit: cover; /* Ajustar la imagen dentro de la miniatura */
}

/* Estilos para los títulos de las tarjetas */
ion-card-title {
  font-size: 1.2rem; /* Tamaño del título */
  font-weight: bold; /* Negrita */
}

/* Estilos para el contenido de las tarjetas */
ion-card-content {
  font-size: 1rem; /* Tamaño del contenido */
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.accept-button {
  flex: 1;
  margin-right: 5px; /* Espacio entre los botones */
}

.send-button {
  flex: 1;
  margin-left: 5px; /* Espacio entre los botones */
}

